/* App.css */
body {
    margin: 0;
    overflow: hidden;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Inconsolata', monospace;
}

.LayoutDiv {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.menubarDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    height: 4vh;
}

.canvasDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.outletDiv {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: auto;
    pointer-events: none;
}

.outletDiv::-webkit-scrollbar {
    display: none;
}

.terminal {
    background-color: black;
    background-image: radial-gradient(rgba(0, 30, 0, 0.75), black 120%);
    border: groove 4px white;
    border-radius: 8px;
    padding: 1rem;
    text-shadow: 0 0 5px #c8c8c8;
}

.contentDiv {
    color: white;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 2rem;
    pointer-events: auto;
}

@media (max-width: 1024px) {
    .contentDiv {
        gap: 0;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}