/* App.css */
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.LayoutDiv {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.menubarDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    height: 4vh;
}

.canvasDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.outletDiv {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: auto;
    pointer-events: none;
}

.outletDiv::-webkit-scrollbar {
    display: none;
}

.contentDiv {
    color: white;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 2rem;
    pointer-events: auto;
}


/* KEY FRAMES */

/* Slide in Animation from bottom to top*/

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Scrollbar styling made with scrollbar.app */

/* 
body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #23543b;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
} */