/* App.css */
body {
    margin: 0;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
}

.LayoutDiv {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.menubarDiv {
    position: absolute;
    top: 0;
    height: 8vh;
    width: 100vw;
    background-color: black;
    border-bottom: solid 4px white;
    color: white;
    z-index: 1;
}

.canvasDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.outletDiv {
    position: absolute;
    top: 8vh;
    width: 100vw;
    height: 92vh;
    z-index: 1;
    overflow: auto;
    pointer-events: none;
}

.contentDiv {
    color: white;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 2rem;
    pointer-events: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color: teal;
    padding: 1rem;
    border-radius: 8px;
}

h2 {
    background-color: darkcyan;
    padding: 1rem;
    border-radius: 8px;
}

p {
    font-weight: bold;
    background-color: black;
    padding: 1rem;
    border-radius: 8px;
}