/* App.css */
.LayoutDiv {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.canvasDiv {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 92vh;
    z-index: 0;
}

.menubarDiv {
    position: absolute;
    top: 0;
    height: 8vh;
    width: 100vw;
    z-index: 5;
}

.outletDiv {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 92vh;
    z-index: 10;
    overflow: auto;
}